// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

/* properties from http://www.colorzilla.com/gradient-editor/
============================*/
.simpleGradient(@start: #f3f3f3, @stop: #666666, @svg: ' '){
	background: @start; // Old browsers 
	background-image: ~"url(data:image/svg+xml;base64,@{svg})"; // IE9 SVG, needs conditional override of 'filter' to 'none'
	background: -moz-linear-gradient(top,  @start 0%, @stop 100%); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop)); // Chrome,Safari4+
	background: -webkit-linear-gradient(top,  @start 0%,@stop 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  @start 0%,@stop 100%); // Opera 11.10+
	background: -ms-linear-gradient(top,  @start 0%,@stop 100%); // IE10+
	background: linear-gradient(top,  @start 0%,@stop 100%); // W3C
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{stop}')"; // IE6-8
}

.borderRadius(@radius: 2px){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.boxShadow(@color: rgba(0, 0, 0, .1), @params: 0 1px 1px) {
	-webkit-box-shadow: @params @color;
	-moz-box-shadow: @params @color;
	box-shadow: @params @color;
}

.transition(@duration:0.2s, @ease:ease-out, @target: all) {
	-webkit-transition: @target @duration @ease;
	-moz-transition: @target @duration @ease;
	transition: @target @duration @ease;
}

.boxSizing(){
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.indent() {
	text-align: left;
	text-indent: -999em;
}

.opacity(@alpha: 0.5) {
	opacity: @alpha;
	@ie: (@alpha * 100);
	filter:~"alpha(opacity=@{ie})";
}